::ng-deep .modal-container .modal-header{
  text-align: center;
  position:relative;
  padding:4px;
}

::ng-deep .modal-container .modal-header h3{
  margin: 0px;
}

::ng-deep .modal-footer{
  display: flex;
  justify-content: center;
  padding: 4px;
}

::ng-deep .modal-body{
  padding: 4px;
  overflow: auto;
  flex-grow: 1;
}

::ng-deep .modal-close-btn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:3px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  user-select: none;
  outline: none;
  padding: 4px 12px;
  height: 33px;
}

::ng-deep .modal-close-btn:active{
    padding: 6px 12px 4px 12px;
}
::ng-deep .modal-close-btn:hover{
    background-color: #FFFFFF;
}

.modal-container{
  top: 0px;
  left: 0px;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: -1;
  width:100%;
  height:100%;
  transition: 0.2s all;
}
.modal{
  top: 1px;
  transform:translateY(0px) translateX(-50%);
  position: absolute;
  left: 50%;
  width: 50%;
  min-width: 750px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: 0.2s all;
  height: calc(100% - 2px);
  overflow: auto;
}

.modal-container.shown{
  pointer-events: all;
  opacity: 1;
  z-index:9999;
}

@media screen and (max-width:767px){
  .modal{
    min-width: auto;
    width: calc(100% - 2px);
  }
}