<div class="ressources-container">
    <div class="resources-tabs-mobile" [ngClass]="{'browse-mode' : (ressoucesMobileTab == 'browse'), 'select-mode' : (ressoucesMobileTab == 'select')}">
        <label for="ressources-mobile-tab-browse" [ngClass]="{'selected' : (ressoucesMobileTab == 'browse')}">Browse<input [(ngModel)]="ressoucesMobileTab" type="radio" name="ressources-mobile-tab" value="browse" id="ressources-mobile-tab-browse"></label>
        <label *ngIf="currentRessourceVersion && currentRessourceAssetsByVersion" for="ressources-mobile-tab-select" [ngClass]="{'selected' : (ressoucesMobileTab == 'select')}">Select <input [(ngModel)]="ressoucesMobileTab" type="radio" name="ressources-mobile-tab" value="select" id="ressources-mobile-tab-select"></label>
    </div>
    <div class="ressources-choices-container" [ngClass]="{'is-reduced': (selectedRessourceAssets.length > 0)}">
        <div class="ressources-query-container">
            <div class="ressources-query-parent" [ngStyle]="{'margin-right':'15px'}">
                <label for="ressources-query-input">Search for libraries: </label>
                <input (ngModelChange)="onRessourcesQueryStringChange($event)" type="text" id="ressources-query-input" class="form-control ressources-query-input" [(ngModel)]="ressourcesQueryString">
            </div>
            <div class="ressources-query-version-parent" *ngIf="currentRessourceChoice.name" style="margin-right:15px">
                <label for="ressources-query-input">Choose version: </label>
                <select [(ngModel)]="currentRessourceVersion" (ngModelChange)="onCurrentRessourceChoiceVersionChange($event)" class="form-control">
                    <option *ngFor="let version of currentRessourceVersions" [value]="version">{{version}}</option>
                </select>
            </div>
            <app-loader #loader></app-loader>
        </div>
        <div class="ressources-choices-parent" *ngIf="availableRessources.length">
            <div class="ressources-choice" *ngFor="let ressource of availableRessources" (click)="onRessourcesChoiceClick(ressource)" [ngClass]="{'current-choice':currentRessourceChoice.name == ressource.name}">
                <div class="ressource-choice-name">{{ressource.name}}</div>
                <div class="ressource-choice-version">
                    <span class="ressource-version-btn">Version:</span>
                    <span class="ressource-version-number">{{ressource.version}}</span>
                </div>
                <div class="ressource-choice-description">{{ressource.description}}</div>
            </div>
        </div>  
    </div>    
    <hr>
    <div class="ressources-choice-files-container" *ngIf="currentRessourceVersion && currentRessourceAssetsByVersion.length" [ngClass]="{'is-stretched': (selectedRessourceAssets.length == 0), 'loading': loader.isLoaderShow()}">
        <div class="ressources-choice-files-search">
            <h3 class="title" style="border-bottom: none;">{{currentRessourceChoice.name}} {{currentRessourceVersion}} ressources (click to toggle)</h3>
            <div>
                <label for="ressources-choice-files-search-input">Search for files: </label>
                <input (ngModelChange)="onRessourcesChoiceFilesSearchStringChange($event)" type="text" id="ressources-choice-files-search-input" class="form-control ressources-choice-files-search" [(ngModel)]="ressourcesChoiceFilesSearchString">
            </div>
        </div>
        <div class="ressources-choice-files-parent">
            <div [ngClass]="{'selected': isRessourceAssetSelected(file, currentRessourceChoice)}" class="ressources-choice-files" *ngFor="let file of getFilteredcurrentRessourceAssetsByVersion(currentRessourceAssetsByVersion, ressourcesChoiceFilesSearchString)" (click)="onSelectRessourceAsset(file, currentRessourceChoice)" [title]="'(click to toggle)'">
                <span class="ressource-choice-file">{{file}}</span>
            </div>
        </div> 
    </div>
    <hr *ngIf="selectedRessourceAssets.length">
    <div class="ressources-choice-selected-files-container" *ngIf="selectedRessourceAssets.length" [ngClass]="{'is-stretched': (selectedRessourceAssets.length > 0)}">
            <h3 class="title" *ngIf="selectedRessourceAssets.length">Seleted ressources (drag to reorder)</h3>
            <div class="ressources-choice-selected-file-wrapper-parent">
                <div class="ressources-choice-selected-file-wrapper" *ngFor="let selectedFile of selectedRessourceAssets; let ind = index" [title]="'Grab to reorder'" [ngClass]="{'placeholder':selectedFile.placeholderMode}">
                    <div draggable="true" class="ressources-choice-selected-file" (drop)="ressourceChoiceSelectedAssetDrop($event)" (dragover)="ressourceChoiceSelectedAssetDragover($event)" (dragstart)="ressourceChoiceSelectedAssetDragstart($event)" (dragenter)="ressourceChoiceSelectedAssetDragenter($event)" (dragleave)="ressourceChoiceSelectedAssetDragleave($event)" [attr.data-index]="ind" [ngClass]="{'placeholder':selectedFile.placeholderMode}">
                        <span>{{getFullAssetUrl(selectedFile)}}</span>
                    </div>
                    <div class="btn-remove-selected-ressource-wrapper">
                        <button class="btn btn-remove-selected-ressource" (click)="removeSelectedRessourceAsset(selectedFile)"><span>X</span></button>
                    </div>
                </div>
            </div> 
        </div>
</div>