.ressources-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.ressources-container > hr{
  width: 100%;
  margin: 0px auto;
}

.ressources-query-container{
  width:100%;
  position: relative;
  display:flex;
  align-items:center;
  padding: 3px;
}

.ressources-choices-parent{
  flex-grow: 1;
  overflow: auto;
}

.ressources-query-container label{
  font-size:14px;
}

.ressources-choices-container{
  width: 100%;
  height: 36%;
  min-height: 36%;
  margin: 4px auto 0 auto;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ressources-choices-container.is-reduced{
  height: 32%;
  min-height: 32%;
}

.ressources-choice {
  padding: 4px 0 4px 5px;
  user-select: none;
  cursor:pointer;
}

.ressources-choice:first-child ~ .ressources-choice{
  border-top:1px solid #bbb;
}

.ressources-choice:last-child{
  border-bottom:1px solid #bbb;
}

.ressources-choice  .ressource-choice-name,
.ressources-choice  .ressource-choice-version{
  margin-bottom:4px;
}

.ressources-choice  .ressource-choice-version {
  font-size: 14px;
}

.ressources-choice  .ressource-choice-description {
  font-size: 14px;
}

.ressource-choice-name {
  font-weight: 600;
  font-size: 15px;
}

.ressources-choice-files-container{
  overflow:hidden;
  width:100%;
  margin: auto;
  min-height: 31%;
  height: 31%;
  display: flex;
  flex-direction: column;
}

.ressources-choice-files-parent {
  flex-grow: 1;
  overflow: auto;
}

.ressources-choice-files {
  padding: 7px 5px;
  user-select: none;
  cursor:pointer;
  font-size: 14px;
}

.ressources-choice-files-container.is-stretched{
  min-height: auto;
  flex-grow: 1;
  height: auto;
}


.ressources-choice-selected-files-container{
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ressources-choice-selected-files-container.is-stretched{
  flex-grow: 1;
}

.ressources-choice-selected-file-wrapper-parent {
  flex-grow: 1;
  overflow: auto;
}

.ressources-choice-files span{
  pointer-events: none;
  word-break: break-word;
}

.ressources-choice-files-search{
  margin: 1px auto 1px auto;
  text-align: center;
  width: 100%;
}

.ressources-choice-files-search > div {
  display: flex;
  align-items: center;
  padding: 3px;
}

.ressources-choice-files-search > div > label {
  white-space: nowrap;
  margin-right: 3px;
  font-size: 14px;
}

.ressources-choice-selected-file {
  padding: 5px;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  font-size:14px
}

.ressources-choice-selected-file span{
  pointer-events: none;
  word-break: break-word;
}

input[type]{
  text-align:left;
}

.ressources-choice-selected-file-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.btn-remove-selected-ressource-wrapper{
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.resources-tabs-mobile {
  display: flex;
  width: 100%;
  margin-bottom: 4px;
}

.resources-tabs-mobile label {
  position: relative;
  display: block;
  padding:5px;
  cursor: pointer;
  border-bottom:none;
  min-width: 70px;
  text-align: center;
}

.resources-tabs-mobile input {
  position:absolute;
  opacity:0;
  width:100%;
  height:100%;
}

.title{
  text-align: center;
  margin:1px 0px;
}

.ressources-choice-files-container.loading {
  opacity: 0.3;
  pointer-events: none;
}

@media (min-height:701px) and (min-width:768px){
  .resources-tabs-mobile{
      display:none;
  }
}

@media (max-height:700px),(max-width:767px){
  .resources-tabs-mobile ~ hr{
      display:none;
  }
  
  .resources-tabs-mobile.browse-mode ~ .ressources-choice-files-search,
  .resources-tabs-mobile.browse-mode ~ .ressources-choice-files-container,
  .resources-tabs-mobile.browse-mode ~ .ressources-choice-selected-files-container,
  .resources-tabs-mobile.browse-mode ~ h3{
      display:none
  }
  .resources-tabs-mobile.browse-mode ~ .ressources-choices-container{
      height: 100%;
  }
  
  .resources-tabs-mobile.select-mode ~ .ressources-choices-container,
  .resources-tabs-mobile.select-mode ~ .ressources-query-container{
      display:none;
  }

  .ressources-choice-files-container[class] {
    height: 50%;
    min-height: auto;
  }

  .ressources-choice-selected-files-container {
    height: 50%;
    min-height: auto;
  }
}